body{
    background-image: url(https://image.shutterstock.com/image-vector/sunburst-pattern-radial-background-600w-159213977.jpg);
    background-repeat: no-repeat; 
    background-size: cover;   
}
